{% extends 'livre/base.html' %}

{%block content%}
    <div class="container">
        <div class="display-6 py-4 text-center"><h1>Ajouter un livre</h1></div>
        {% if submitted %}
            Your Information submitted successfully
        {% else %}
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" class="btn btn-secondary mb-5">
            </form>
        {% endif %}
      </div>
{% endblock content %}