{% extends 'livre/base.html' %}

{% block content %}

<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3 mt-3">Bibliotheque</h1>
      <p>
        Le projet de bibliothèque est une application web conçue pour gérer les informations relatives aux livres dans une bibliothèque. Cette application permet aux utilisateurs de consulter, ajouter, modifier et supprimer des livres</p></div>
  </div>
  <br>
  <hr>
  <br>
  <div class="container">
    <h3 class="text-center">L'application comprend plusieurs fonctionnalités clés, notamment :</h3>
    <div class="row g-2">
      <div class="col-6">
        <div class="p-3"><p><b>Les livres </b>Permet aux administrateurs d'ajouter de nouveaux livres, de mettre à jour leurs informations </p></div>
      </div>
      <div class="col-6">
        <div class="p-3"><p><b>Interface d'Administration :</b> Les administrateurs ont accès à une interface d'administration dédiée qui leur permet de gérer tous les aspects de l'application, y compris les utilisateurs, les groupes, les autorisations, etc.</p></div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="card text-white bg-secondary m-3 " style="max-width: 20rem;">
        <div class="card-header"> Consulter </div>
        <div class="card-body">
          <h4 class="card-title">Les employés</h4>
          <p class="card-text">Consultez la liste complète de tous les livres dans notre bibliothèque.</p>
          <p><a class="btn btn-light" href="{% url 'liste-livre'%}" role="button">Voir les livres &raquo;</a></p>
       
           </div>
      </div>
      <div class="card text-white bg-secondary m-3" style="max-width: 20rem;">
        <div class="card-header">Ajouter un livre </div>
        <div class="card-body">
          <h4 class="card-title">Nouveau Livre</h4>
          <p class="card-text">Ajoutez un nouveau livre à notre base de données.</p>
          <p><a class="btn btn-light" href="{% url 'ajouter-livre'%}" role="button">Ajouter un livre &raquo;</a></p>
       
          </div>
      </div>
      <div class="card text-white bg-secondary m-3" style="max-width: 20rem;">
        <div class="card-header">Admin</div>
        <div class="card-body">
          <h4 class="card-title">Interface administrateur</h4>
          <p class="card-text">Accéder à l'interface administrateur pour la gestion de la bibliothèque</p>
          <p><a class="btn btn-light" href="http://127.0.0.1:8000/admin/login/?next=/admin/" role="button">Admin &raquo;</a></p>
           </div>
      </div>
    </div>

    <hr>

  </div> 

</main>

{% endblock content %}
